@media only screen and (max-width:1910px) and (max-height:768px) {
.hand{
text-align:center;
}
.hand img{
height:600px;
}
}

@media only screen and (max-width:1600px){
.hand{
width:42%;
}
}

@media only screen and (max-width:1400px){
.hand{
width:50%;
}
}

@media only screen and (max-width:1280px){
.main-container{
width:98%;
padding:0 0.1%;
}
.app-details,
.hand{
width:48%;
}

.main-container h1{
margin-top:10px;
}
}

@media only screen and (max-width:1280px) and (max-height:800px) {
.hand{
text-align:center;
}
.hand img{
height:650px;
}
}

@media only screen and (max-width:1280px) and (max-height:768px) {
.hand{
text-align:center;
}
.hand img{
height:600px;
}
}



@media only screen and (max-width:1024px){
.hand{
width:45%;
}
.hand img{
height:600px;
}
}


@media only screen and (max-width:960px){
html,
body{
height:auto;
}
.app-details{
margin-top:20px !important;
}
.app-details{
position:static;
width:100%;
text-align:center;
}
.hand{
position:static;
width:100%;
text-align:center;
margin-bottom:-10px;
}
.hand img{
width:auto;
height:auto;
max-height:100%;
}
.download a.google{
margin-right:10px;
}
.footer{
position:relative;
width:100%;
}
}

@media only screen and (max-width:768px){
}

@media only screen and (max-width:480px){
.logo img{
width:50%;
}
.main-container h1{
font-size:100%;
}
.download a.google{
width:141.25px;
}
.download a.apple{
width:126.25px;
}
.download a.google,
.download a.apple{
	background-position: 50% center;
    background-size: contain;
    height: 50px;
    margin-right: 0;
}
.footer p{
font-size:80%;
}
}